.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo translúcido */
    -webkit-backdrop-filter: blur(10px); /* Efecto de blur glass para Safari */
    backdrop-filter: blur(10px); /* Efecto de blur glass para otros navegadores */
    padding: 1rem 2rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav {
    display: flex;
    align-items: center; /* Alinea verticalmente los enlaces y el ícono */
    gap: 1.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 8px 12px;
    display: flex;
    align-items: center; /* Alinea el contenido verticalmente dentro del enlace */
}

.nav a:hover {
    color: #ddd;
}

.perfil img {
    width: 42px; /* Ajusta el tamaño deseado */
    height: 42px;
    margin-bottom: -7px; /* Ajusta el valor según sea necesario para alineación */
    vertical-align: middle; /* Alineación vertical con el texto */
    transition: transform 0.3s ease;
}

.perfil:hover img {
    transform: scale(1.1);
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    .header {
        background-color: rgba(23, 23, 23, 0.8);
        color: white;
    }

    .nav a {
        color: white;
    }

    .nav a:hover {
        color: #ddd;
    }
}
